.main {
    padding: 30px 5%;
    display: flex;
    justify-content: center;
}
.description {
    margin-left: 30px;
}
.date {
    display: flex;
    justify-items: center;
}
.dayNumb {
    font-size: 1.2rem;
    align-self: center;
}
.dayDesc {
    margin-left: 5px;
    align-self: center;
    font-weight: 600;
}
.secondary {
    color: #6C827F;
    text-transform: lowercase;
}
.list {
    list-style: none;
    width: 250px;
}
.item {
    display: flex;
    justify-content: space-between;
}
.title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: underline 2px #84C063;
    font-weight: 600;
}

.button {
    padding: 15px 30px;
    border-radius: 10px;
    background: none;
    border: 3px solid #CCCCCC;
    font-weight: 600;
}

.buttonActive {
    background: #c6d8a6;
    border-color: #c6d8a6;
}

@media screen and (max-width: 648px) {
    .main {
        padding: 30px 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: underline 2px #84C063;
        font-weight: 600;
    }
    .description {
        margin-left: 0;
        margin-top: 15px;
    }
}