.main {
    background: #618935;
    color: white;
    padding: 0 30px;
    min-height: 50px;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
}
.item {
    height: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    vertical-align: center;
}
.list {
    height: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-items: center;
    vertical-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
.spis .listItem {
    display: flex;
    flex-direction: row;
    height: inherit;
    min-height: inherit;
    padding: 15px 30px;
    margin-right: 5px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    align-self: center;
}
.spis .listItem .link {
    display: flex;
    flex-direction: row;
    height: inherit;
    min-height: inherit;
    margin-right: 5px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    vertical-align: center;
}
.liActive {
    background: #749951;
}
.secondary {
    color: #CCC;
}
.userLink {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.menuButton {
    display: none;
}
.menu {
    display: none;
}
@media screen and (max-width: 640px) {
    .mobileHide {
        display: none;
    }
    .main {
        padding: 0 5px;
    }

    .menuButton {
        display: block;
        height: 50px;
        width: 50px;
        border: none;
        background: #749951;
        color: white;
        border-radius: 5px;
    }
    h1 {
        margin-bottom: 15px;
    }
    .spis .listItem {
        padding: 15px 15px;
    }
    .userLink {
        text-align: right;
    }
    .menu {
        box-sizing: border-box;
        padding: 5px 15px;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 80vw;
        background: #CCCCCC;
        display: block;
        transition: .5s all ease;
    }
    .menuLiActive {
        background: #749951;
    }
}